@inject Microsoft.AspNetCore.Identity.SignInManager<Produto.Models.Infra.UsuarioDaAplicacao> SignInManager
@inject Microsoft.AspNetCore.Identity.UserManager<Produto.Models.Infra.UsuarioDaAplicacao> UserManager

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    @RenderSection("Styles", required: false)
</head>
<body>
    <nav class="navbar fixed-top navbar-light" style="background-color: #e3f2fd;">
        <a class="navbar-brand" href="#">
            <img src="~/images/logo.png" width="30" height="30"
                 alt="logo faculdade reges" />
            ASP .NET CORE MVC
        </a>
    </nav>

    <div class="container-fluid">
        <div class="row">
            <div class="col-12">&nbsp;</div>
            <div class="col-12">&nbsp;</div>
            <div class="col-12">&nbsp;</div>
            <div class="col-12">&nbsp;</div>
        </div>

        <div class="row" style="text-align:right;">
            <div class="col-md-6"></div>
            <div class="col-md-6">
                @if (SignInManager.IsSignedIn(User))
                {
                    <div>
                        Olá @UserManager.GetUserName(User), bem-vindo |
                        @Html.ActionLink("Logout", "Sair", "Infra", new { area = "" })
                    </div>
                }
            </div>
        </div>

        <div class="row">
            <div class="col-2">
                <nav class="nav flex-column">
                    <a class="navbar-link active" asp-area="Cadastros" asp-controller="Produto" asp-action="Index">
                        <img src="~/images/prodIcon.jpg" width="50" height="50" />
                        Produtos
                    </a>

                </nav>
            </div>
            <div class="col-10">
                <div class="row">
                    <div class="col-12">
                        @RenderBody()
                    </div>
                </div>
            </div>
        </div>
    </div>
    <nav class="navbar fixed-bottom" style="background-color: #e3f2fd;">
        <a class="navbar-brand" href="#">Sistema</a>
    </nav>
    @RenderSection("Scripts", required: false)
</body>
</html>
